@import '../../style/button.scss';

.rowmovies {
  width: 100%;
  margin-bottom: 100px;
  &__top {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 30px auto 60px auto;
    &-title {
      display: flex;
      align-items: center;
      gap: 8px;
      h3 {
        font-size: 30px;
      }
    }
    .hr {
      width: 70%;
      height: 1px;
      background-color: rgba(255, 255, 255, .30);
    }
     a {
      color: #fff;
      font-size: 16px;
     }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 760px) {
  .rowmovies {
    &__top {
      gap: 15px;
      margin-bottom: 40px;
      .hr {
        display: none;
      }
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 16px;
    }
  }
  
}


@media only screen and (max-width: 759px) and (min-width: 340px) {
  .rowmovies {
    &__top {
      &-title {
        h3 {
          font-size: 20px;
        }
        img {
          width: 35px;
        }
        a {
          font-size: 15px;
        }
      }
      .hr {
        display: none;
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}