@import '../../style/button.scss';
.hero {
  max-width: 1200px;
  height: max-content;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  gap: 20px;
  margin: 60px auto;
  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
      font-size: 50px;
      color: #fff;
      font-weight: bold;
    }
    h1 {
      font-size: 70px;
      font-weight: bold;
      color: #fff;
      background: linear-gradient(94deg, #2203ff 33.29%, #c40d60 67.01%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: 20px;
      line-height: 32px;
    }
    button {
      padding: 8px 20px;
      width: max-content;
      color: #fff;
      border-radius: 6px;
      border: 1px solid #fff;
      margin-top: 18px;
    }
  }
  &__movie {
    width: 100%;
    height: max-content;
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    img {
      width: 100%;
      max-height: 450px;
      object-fit: cover;
    }
    &-descr {
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      h2 {
        font-size: 26px;
      }
      p {
        opacity: .7;
        font-size: 15px;
        font-weight: 500;
      }
      div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        
      }
    }
  }
}

@media only screen and (max-width: 1360px) and (min-width: 760px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    gap: 40px;
    margin-bottom: 100px;

    &__movie {
      width: 80%;
      img {
      }
    }
  }
}

@media only screen and (max-width: 759px) and (min-width: 340px) {
  .hero {
    display: flex;
    flex-direction: column;
    height: max-content;
    &__info {
      gap: 6px;
      h2 {
        font-size: 26px;
      }
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 15px;
        line-height: 26px;
      }
    }
  }
}