.list__item {
  width: 100%;
  height: 400px;
  &-img {
    width: 100%;
    height: 340px;
  }
  p {
    margin-bottom: 3px;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 760px) {
  .list__item {
    height: 340px;
    &-img {
      height: 280px;
      object-fit: cover;
    }
  }
}
@media only screen and (max-width: 759px) and (min-width: 340px) {
  .list__item {
    max-width: 400px;
    height: max-content;
    &-img {
      height: auto;
      object-fit: cover;
    }
    p {
      font-size: 1.2rem;
    }
  }
}