@import '../../style/variables.scss';
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 60px auto 60px auto;
  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__menu {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      line-height: 32px;
      li {
        margin:0 12px;
        a {
          color: #fff;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 759px) and (min-width: 340px) {
  .navbar {
    margin-bottom: 40px;
    &__logo {
      a {
        img {
          width: 42px;
          height: 35px;
        }
      }
    }
    &__menu {
      ul {
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
}