@import './variables.scss';
@import './button.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #0f0e0eff;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.app {
  width: 90%;
  margin: 0 auto;
  color: #fff;
  padding: 25px 0;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}